/app/etc/local.xml
node_modules/
var/cache/
var/session/
var/report/

app/etc/local.xml
app/etc/config.xml
log/capistrano.log
app/code/core/
var/
/media/
var/locks/
sitemap.xml
.DS_Store
/test.php
includes/config.php
includes/src
nbproject/
downloader/
.htaccess
!*/.htaccess
.swp
.idea
/.settings/
/.buildpath/
.project
/.project/
/sitemaps/
*.sass-cache*
.rsync_cache
.phpstorm.meta.php
.orig
vendor/
ExactTargetWSDL.xml
.idea/*
/scheduler_cron.sh
/app/code/local/Inchoo/PHP7
/app/etc/modules/Inchoo_PHP7.xml
/app/code/local/Mage/Connect/Packager.php
/app/code/local/Mage/Core/Model/Resource/Session.php
/app/code/local/Mage/Sales/Model/Config/Ordered.php
/shell/inchoo_php7_test.php

/lib/XMPPHP
/lib/Graylog2-gelf-php
/lib/rsyslog
/lib/chromelogger
/shell/logger.php